* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#container{
  margin: auto;
  height: 100vh;
}

hr {
  border: 1px solid black;
}

/* login e Language */
header::after {
  content: '';
  display: table;
  clear: both;
}

header .language {
  float: left;
}

header .login {
  float: right;
}

.elements {
  background: #efefef;
  height: 90px;
  padding-left: 70px;
}

.language, .login{
  margin-left: 20px;
  padding: 25px;
  width: 36%;
}

#globe {
  padding: 5px;
}

.english {
  border: none;
  background: none;
  font-size: 15px;
}

.contact {
  padding: 15px;
}

.contact:hover {
  background: #cecece;
}

#search {
  color: #05abc5;
}


.log{
background-color: white;
color:  #ff7a59;;
border: 1px solid  #ff7a59;
border-radius: 5px;
padding: 7px;
margin-left: 20px;
}

.gethubspotfree {
  background-color: #ff7a59;
  color: white;
  border-radius: 5px;
  border: none;
  margin-left: 20px;
  padding: 10px;
}


/* Menu */
.menu {
  background: #fdfbfb;
  height: 90px;
  padding: 25px 120px;

}
header .login {
  float: right;
}

header .logo {
  float: left;
}

header .menu-about {
  float: right;
  padding-left: 50px;
}

.logo {
  margin-left: 25px;
  width: 22%;
}

.menu-about {
  width: 50%;
}

.menu-about ul li {
  list-style: none;
  display: inline-block;
}

.menu-about li {
  padding: 10px;
}

/* Introduzione */
figure {
  position: relative;
  background-image: url('jumbotron.png');
  background-size: cover;
  height: 578px;
}

.text {
  position: absolute;
  width: 375px;
  top: 50px;
  left: 145px;
}

.text-p {
  font-size: 12px;
  line-height: 25px;
  margin-top: 10px;
}

.gethubspotfree2 {
  background-color: #ff7a59;
  color: white;
  border-radius: 5px;
  border: none;
  padding:15px 25px;
  margin: 25px 0;
}

.spanrow {
  display: inline-block;
  font-size: 10px;
}

.spazio {
  background: #30d5c8;
  height: 50px;
}

/* Parte centrale */
main h2 {
  text-align: center;
}

.conteiner2 {
background-color: #eff4f9;
margin: auto;
}

.integration {
margin-top: 30px;
width: 345px;
height: 250px;
}

.powerful {
margin: auto;
text-align: center;
width: 790px;
height: 360px;
margin-bottom: 25px;
}

.powerful-p {
  margin: 0 30px;
  padding: 20px;
  font-size: 12px;
}

.boxcenter {
  width: 60%;
  height: 250px;
  background: white;
  margin: auto;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid #cecece
}

.gethubspotfree3 {
  background-color: #ff7a59;
  color: white;
  border-radius: 5px;
  border: none;
  padding:10px 20px;
  margin-left: 25px;
}

.boxcenter::after {
  content: '';
  display: table;
  clear: both;
}

.book {
  width: 170px;
  height: 120px;
  float: left;
}

.book2 {
  width: 150px;
  height: 100px;
  margin: 20px 20px;
}

.free-hubspot {
  float: right;
  width: 530px;
  padding: 10px;
  line-height: 30px;
  margin-top: 15px;
}

.free-hubspot h3,
.free-hubspot p{
  margin-bottom: 10px;
}


/* Elenco */

.popolar ul li a{
  text-decoration: none;
  list-style: none;
  color: black;
  margin-left: 5px;
}

.popolar i {
  color:orange;
}

/* Colonne */
.colonne {
  margin-top: 20px;
  margin-left: 20%;
  padding-bottom: 20px;
}

.colonne::after {
  content: '';
  display: table;
  clear: both;
}

.col-left,
.col-center,
.col-right {
  float: left;
  width: 21%;
  height: 550px;
  background: white;
  border-radius: 2%;
  border: 2px solid #cecece;
}

.col-center,
.col-right {
  margin-left: 6%;
}

.col-left,
.col-center,
.col-right {
  padding: 10px;}

.col-left img,
.col-center img,
.col-right img {
width: 150px;
height: 100px;
padding: 10px;
transform: translate(17%);
}

.marketing{
  text-align: center;
  padding: 10px;
  line-height: 15px;
}


.col-left h3, .col-left p,
.col-center h3, .col-center p,
.col-right h3, .col-right p {
  margin-bottom: 30px;
}

.col-left p,
.col-center p,
.col-right p {
  font-size: 12px;
}

.col-left h4,
.col-center h4,
.col-right h4 {
  margin: 25px 0;
}

.pop-list h4{
  text-align: center;
}

.pop-list i {
  color: orange;
}

.pop-list ul li {
  font-size: 12px;
  text-decoration: none;
  color: black;
}

.learnmore {
  background-color: #ff7a59;
  color: white;
  border-radius: 5px;
  border: none;
  padding:15px 25px;
  margin: 25px 35px;
}


/* learn and grow */
section {
color: white;
margin: auto;
width: 100%;
background-image: linear-gradient(45deg,#00a4bd,#00bda5);
}

section .title {
  margin: auto;
  text-align: center;
  padding: 30px 0;
  width: 50%;
}

section .subtitle {
  margin: auto;
  text-align: center;
  padding: 30px 0;
  width: 80%;
}

/* Boxs */
.boxs:after {
  content: '';
  display: table;
  clear: both;
}

.boxs {
  width: 100%;
  margin: auto 20%;
  padding: 50px 0;
}

.line-boxs {
  margin: auto;

}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8{
  width: 200px;
}

.box1, .box3, .box5 {
  border-right: 1px solid white;
}

.box2, .box4, .box6 {
  border-right: 1px solid white;
}

.box2, .box4, .box6, .box8 {
  border-top: 1px solid white;
}

.col-box1, .col-box2,
.col-box3, .col-box4 {
  float: left;
}

.box1, .box2, .box3, .box4,
.box5, .box6, .box7, .box8 {
  margin: auto;
  text-align: center;
}

.box1 img, .box2 img, .box3 img, .box4 img,
.box5 img, .box6 img, .box7 img, .box8 img{
  padding: 10px;
}

.box1 span, .box2 span, .box3 span, .box4 span,
.box5 span, .box6 span, .box7 span, .box8 span {
  font-size: 30px;
  padding: 10px 0;
}

.box1 p, .box2 p, .box3 p, .box4 p,
.box5 p, .box6 p, .box7 p, .box8 p{
  font-size: 12px;
  padding: 10px 0;
}

/* Article */

article

.row::after {
  content: '';
  display: table;
  clear: both;
}

.customers h2 {
  margin-bottom: 20px;
  font-size: 35px;
}


.customers {
  float: left;
  width: 30%;
  padding: 75px 140px;
}

.partner {
  float: right;
  width: 70%;
  padding: 77px;
}

.partner img {
  margin-right: 5px;
}

.atlassian {
  width: 150px;
  height: 30px;
}

.doordash, .wistia {
  width: 150px;
  height: 25px;
}

.g2, .purple {
  width: 150px;
  height: 45px;
}

.subaru {
  width: 150px;
  height: 50px;
}

.classpass {
  width: 130px;
  height: 50px;
}

.vmware {
  width: 170px;
  height: 50px;
}



.row2::after {
  content: '';
  display: table;
  clear: both;
}

.row2 {
  margin-left: 50px;
}

.start-growing, .image {
  width: 50%;
  padding: 20px;
  text-align: center;
}

.start-growing {
  float: left;
  padding: 50px;
  text-align: left;
}

.start-growing h2 {
  padding-bottom: 25px;
}

.start-growing p {
  line-height: 27px;
}

.gethubspotfree4 {
  background-color: #ff7a59;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 20px 30px;
  margin: 35px 0;
}

.row2 span {
  font-size: 13px;
}

.image {
  float: right;
}

.image img {
  width: 320px;
  height: 370px;
  margin-bottom: 30px;
}


/* Footer */

footer {
  background: #33475b;
  height: 500px;
  color: #fff;
}

.col-footers::after {
  content: '';
  display: table;
  clear: both;
}

.col-footer1,
.col-footer2,
.col-footer3,
.col-footer4 {
  float: left;
}

.col-footer1 {
  margin-left: 10%;
}


.col-footer1,
.col-footer2,
.col-footer3,
.col-footer4 {
margin-top: 30px;
margin-right: 5%;
}

.col-footer1 h3,
.col-footer2 h3,
.col-footer3 h3,
.col-footer4 h3 {
  padding-bottom: 20px;
  font-size: 18px;
}
.col-footer1 li,
.col-footer2 li,
.col-footer3 li,
.col-footer4 li {
font-size: 13px;
 list-style: none;
 line-height: 30px;
}
