* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container{
  width: 1000px;
  max-width: 100%;
  margin: 20px auto;
  height: 100px;
  background: red;
}

/* login e Menu */
header::after {
  content: '';
  display: table;
  clear: both;
}

header .language {
  float: left;
}

.language, .login{
  background: orange;
  height: 90px;
  width: 400px;
  border: solid 2px black;s

}

header .login {
  float: right;
}

header .logo {
  float: left;
}

header .menu-about {
  float: right;
}

.logo, .menu-about {
  background: orange;
  height: 90px;
  width: 400px;
}

/* Introduzione */
figure {
  position: relative;
  background: green;
  height: 400px;
  width: 1000px;
}

.testo {
  position: absolute;
  width: 200px;
  height: 200px;
  background: yellow;
  top: 50px;
  left: 50px;
}

.spazio {
  background: #30d5c8;
  height: 100px;
}

/* Parte centrale */
h2 {
  text-align: center;
}

.boxcenter {
  width: 750px;
  height: 200px;
  background: orange;
  margin: auto;
}

.colonne {
  margin: auto 90px;
}

.colonne::after {
  content: '';
  display: table;
  clear: both;
}

.col-left,
.col-center,
.col-right {
  float: left;
  width: 250px;
  height: 400px;
  margin: 10px;
  background: #ffff66;
}

/* learn and grow */
section {
  background: #31a0ff;
}
.boxs::after {
  content: '';
  display: table;
  clear: both;
}

.boxs {
  margin: auto 300px;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8{
  float: left;
  width: 100px;
  height: 100px;
  background: #31a0ff;
  border: 2px solid black;
}

.box5,
.box6,
.box7,
.box8 {
  margin-bottom: 20px;
}

/* Article */

article {
  height: 300px;
  background: orange;
}

.row::after {
  content: '';
  display: table;
  clear: both;
}

.customers {
  float: left;
  width: 400px;
  height: 100px;
  border: 2px solid black;
}
.partner {
  float: right;
  width: 600px;
  height: 100px;
  border: 2px solid black;
}

/* Footer */

footer {
  background: grey;
  height: 500px;
}
